/* dark mode elements */
html.dark {
  background-color: #333333;
  color: #fff;
}

 .dark .nav-links a {
  color: #fff;
}

.dark .nav-links a:hover,
.dark .nav-links a:focus {
  background-color: #993366;
}

a {color:#9900cc;}
a:visited {color:#9900cc;} 

/* .dark .blogpost-links a {
  color:#ff2f03;
  text-decoration: none;
}

.blogpost-links a {
  color:#ecff03;
  text-decoration: none;
} */

/* light mode tutorial css */
/* DON'T EDIT TOO MUCH IT'S FINE */
html {
  background-color: #fcfaeb;
  font-family: Victor Mono;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 100ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

/* nav styles */
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #993366;
}

/* nav links placement and background that's hidden until interaction? */
.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  /* background-color: #bd89d1; */
  display: none;
  margin: 0;
}

/* nav links TEXT? */
.nav-links a {
  color: #333333;
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

/*hover or focus response*/
.nav-links a:hover,
.nav-links a:focus {
  background-color: #cc6699;
}

.expanded {
  display: unset;
}

/* fullscreen nav behavior */
@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}
