---
import ExplosionPrototype from "../components/ExplosionPrototype.astro";
---
<div>
    <h3>explosion testing area</h3>

    <button id="pageButton">1</button>
    <object id="explosionAnimation"><ExplosionPrototype /></object>

</div>
