---
---
<div>
    <button id="draw">draw</button>

    <canvas id="explosion" width="128" height="80"></canvas>

    <script is:inline>
            let image = new Image();
            image.src = "explosion-3.png";
            
            // STRUGGLE ZONE
            document.getElementById("draw").addEventListener("click", init);


            //getContext describes what type of content the canvas has
            let canvas = document.querySelector("canvas");
            let context = canvas.getContext("2d");
            const width = 128;
            const height = 80

            // draw a frame internal func
            function drawFrame(frameX, frameY, canvasX, canvasY) {
                context.drawImage(image,
                        frameX * width, frameY * height, width, height,
                        canvasX, canvasY, width, height);
            }

            let currentFrame = 0;
            const finalFrame = 10;
            let fpsCount = 0;
                    
            
            function step() {
                //slow down
                fpsCount++;
                if (fpsCount < 3) {
                    window.requestAnimationFrame(step);
                    return;
                }
                fpsCount = 0;
                
                // clear canvas
                context.clearRect(0, 0, canvas.width, canvas.height);

                // draw next frame
                drawFrame(currentFrame, 0, 0, 0);
                currentFrame++;

                //loop
                // if (currentFrame >= finalFrame) {
                //     currentFrame = 0;
                // }
                // END RECURSION!!!!!!!
                if (currentFrame > finalFrame){
                    return;
                }

                window.requestAnimationFrame(step);
            }
            
            // start
            function init() {
                window.requestAnimationFrame(step);
                currentFrame = 0;
            }

</script>
</div>