---
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
import ThemeIcon from './ThemeIcon.astro';
import ThemeSwitch from './ThemeSwitch.astro';
---
<header>
    <nav>
        <style>
        nav {
              display: flex;
              gap: 1rem;
        }
        </style>
        <Hamburger />
        <Navigation />
        <ThemeSwitch />
    </nav>
</header>
