---
const { linktext, platform, username } = Astro.props;
---
<a id="socialButton" href={`https://www.${platform}.com/${username}`}>{linktext}</a>

<style>
    #socialButton {
      padding: 0.5rem 1rem;
      color: white;
      background-color: #854775;
      text-decoration: none;
      text-align: center;
      align-content: center;
    }
</style>